:root {
    --main-color: #333ee6;
    --minor-color: #4a4a4a;
    --gradient: linear-gradient(318deg, rgba(25,121,242,1) 0%, rgba(64,181,251,1) 100%);
    --container-width: 1180px;
    --content-width: 960px;
} 

@media (max-width: 1200px) {
    :root {
        --container-width: 940px;
        --content-width: 940px;
    }
}

@media (max-width: 960px) {
    :root {
        --container-width: 630px;
        --content-width: 630px;
    
    }
}

@media (max-width: 640px) {
    :root {
        --container-width: 520px;
        --content-width: 520px;
      
    }
}

@media (max-width: 480px) {
    :root {
        --container-width: 340px;
        --content-width: 340px;
    }
}
