.errorAlertMiddle {
    display: block;
    width: 100%;
    max-width: var(--content-width);
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;

    color: #fff;
    text-align: center;

    background-color: #f95d51;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    overflow: hidden;
}

.formInner {
   
    width: 100%;


}

.form {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    margin-bottom: 20px;
}



.form input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0;
   

    font-size: 16px;

    border: none;
 
    border-bottom: 2px solid #b3b3b3;
    border-radius: 0px;
    outline: none
}

.form input::placeholder {
    padding: 0;
   

    color: #aaaaaa;
    font-weight: 300;
    font-size: 16px;
    line-height: 0;
}


.phone:focus {
    box-shadow: none !important;
}

.labelTelephone{
    display: block;
    margin-top: 20px;

    color:#b3b3b3;
    font-size: 12px;
}

.formSubmit{
    width: 100%;
}

.formSubmitBtn {
  
    width: 600px;
    max-width: 600px;
    height: 125px;
    padding: 15px 15px;
  

    color: transparent;


    text-decoration: none;

    background-color: transparent;
    background-image: url(../../assets/images/send-data-button.svg);
    background-repeat: no-repeat;
    background-size: contain;

    border: none;
    cursor: pointer;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

}


.butttonNext, .butttonPrevious{
    position: relative;

    width: 120px;
    padding: 14px 0;

    color: #fff;

    font-weight: 700;
    font-size: 14px;
 

    background-color: transparent;
   
    border: none;
    border-radius: 30px;

    cursor: pointer;
}


.butttonPrevious{
    padding-left: 20px;

    background-color:  #cbcbcb;

}


.butttonPrevious::before{
    position: absolute;
    top: 50%;
   

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;

    transform: rotate(180deg) translateX(150%) translateY(50%);

    content: " →";
}

.submitButtton{
    
    width: 170px;
    padding: 14px 0;

    color: #fff;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
 

    background-color: transparent;

    background-color:  #007dfd;
   
    border: none;
    border-radius: 30px;

    cursor: pointer;
}



@media (max-width: 640px) {
    .container{
        display: block;
        width: auto;
        height: 100%;
    }
      
    .form input {   
        height: 100px;

        font-size: 26px;    
    }

    .form input::placeholder {
        font-size: 26px;
    }
   
    .form input {
        height: 60px;

        font-size: 14px;

        border-bottom: 1px solid #b3b3b3;
     
    }

    .form input::placeholder {
        font-size: 14px;
       
    }
    /* .formSubmit{
        margin-top: 10px;
    } */

  
 
}

@media (max-width: 480px) {
      
    .form input {   
        font-size: 20px;    
        line-height: 31px;   
    }

    .form input::placeholder {
        font-size: 20px;    
        line-height: 31px;  

    }

    .buttons{
        height: 120px;
    }

    .butttonPrevious, .submitButtton{
        height: 46px;
    }

    .submitButtton{
        align-self: end;
    }
 
}
