.section {
    padding-top: 160px;
    padding-bottom: 90px;
    overflow: hidden;

    background-color: #2b99f3;
    background-image: url("../../assets/images/survey-background.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.survey {
    flex: 0 0 50%;
    align-self: start;
}

.surveyWrapper {
    box-sizing: border-box;
    max-width: 540px;
    padding: 80px;

    background-color: #fff;
    border-radius: 10px;
}

.speed {
    position: relative;

    margin-bottom: 40px;
    padding-left: 30px;

    color: #6a6a6a;
    font-weight: 300;
    font-size: 22px;
    line-height: 37px;
}

.speed::before {
    position: absolute;
    top: 60%;
    left: 0;

    display: block;
    width: 20px;
    height:20px;

    background-image: url("../../assets/icons/speed.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-65%);

    content: ""
}

.title {
    max-width: 460px;  
    margin-bottom: 40px;

    color: transparent;
    font-weight: 800;
    font-size: 48px;
    line-height: 62px;
    text-decoration: none;

    background-color: transparent;
    background-image: var(--gradient);    
    background-clip: text;
    border-style: solid;
}

.subtitles {
    max-width: 340px;
    margin-bottom: 60px;

    color: #4a4a4a;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;  

}

.callToActionButton {
    position: relative;
    z-index: 1000;

    display: block;
    width: 400px;
    height: 124px;
    padding: 0 15px;

    color: transparent;
    text-decoration: none;

    background-color: transparent;
    background-image: url("../../assets/images/survey-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.imageInner {
    flex: 1 1 50%;
    align-self: start;

}

.imageWrapper {
    /* max-width: 560px; */
    position: relative;
    left: -400px;

}

img.image {
    width: 950px;
    height: auto;
    object-fit: contain;
}

.contacts {
    display: flex;
    justify-content: space-between;

    color: #fff
}

.telephoneTitle,
.emailTitle {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.55;

    background-position: center center;
    border: none;
    border-color: transparent
}

.telephoneLink,
.emaiLink {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.55;
    text-decoration: none;

    border-bottom: 1px solid #fff
}



@media screen and (width <= 1200px) {
    img.image {
        position: relative;
        top: -40px;
        left: 50px;

        width: 800px;
    }
    
    .contacts {
        flex-direction: column;
        gap: 20px;
        padding-top: 60px;
    }
 
}

@media screen and (width <= 960px) {
    .section {
        padding-top: 60px;

    }

    .wrapper {
        flex-direction: column-reverse;      
    }


    .surveyWrapper {
        max-width: 560px;
    }

    .imageInner {
        display: block;
        margin-bottom: 30px;
        overflow: hidden;

        transform: translateX(-20%);
    
    }

    .imageWrapper {
        position: unset;
    }

    img.image {
        position: unset;

        width: 600px;
    }

    .contacts {
        align-self: center;
    }
}

@media screen and (width <= 640px) {
    .speed, .title, .subtitles {
        margin-bottom: 15px;
    }

    img.image {
        position: unset;

        width: 450px;
    }

    .imageInner {  
        transform: translateX(-10%);    
    }

    .telephoneLink,
    .emaiLink {    
        font-size: 28px;
        line-height: 43px;     
    } 
  
    .surveyWrapper {
        max-width: 480px;
        padding: 35px;
    }
}


@media screen and (width <= 530px) {
    .callToActionButton {     
        max-width: 300px;
        height: 100px;      
    }

    .surveyWrapper {
        max-width: 450px;
        padding: 50px;
    }
}

@media screen and (width <= 480px) {
    .section {
        padding: 60px 0;
    }

    .imageInner {
        display: none;
    }

    .callToActionButton {     
        margin-bottom: 30px;     
    }

    .surveyWrapper {
        max-width: 340px;
        padding: 20px;

        text-align: center;
    }

    .speed {
        padding: 0;

        font-size: 12px;
        line-height: 19px;

    }   
    
    .speed::before {
        top: 68%;
        left: 49px;

        width: 15px;
        height: 15px;
    }
    
    .title {     
        font-size: 40px;    
        line-height: 52px;    
    }
    
    .subtitles p { 
        font-size: 16px;    
        line-height: 24px;     
    }

    .contacts {
        padding-top: 45px;

      
    }

  
    .emailTitle, .telephoneTitle, .emaiLink {     
        font-size: 20px;
        line-height: 31px;
    } 
}
