.errorAlert {
    display: block;
    width: 100%;
    max-width: var(--content-width);
    padding-top: 5px;

    color: red;
    font-size: 12px;
    text-align: left;


}

.errorAnswers{
    padding: 10px;

    border: solid 1px red;
}

.container{  
    display: flex;
    width: 900px;
    max-width: 80vw;
                      
    min-height: 464px;
    margin: 0 auto;
 

    background: #fff;

    cursor: default
}
.wrapper{
    width: 100%;


}

.surveyForm{
    padding-top: 35px;
    padding-right: 45px;

    padding-left: 45px;

    background-color: #fff;
}

.surveyTop, .surveyTopInSurveyForm {
    display: flex;

    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;

    padding-top: 35px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;

    background-color: #ececec;
}

.surveyDescriptionInSurveyForm{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.surveyContent{
    box-sizing: border-box;
    width: 100%;
    height: 285px;
    min-height: 185px;
    padding-top: 35px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;
}

.surveyButtons{
    padding-top: 35px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;

    background-color: #fff;
}
.surveyDescription{
    position: relative;

    padding-left: 22px;

    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
}

.surveyDescription::before{
    position: absolute;
    top: 60%;
    left: 0;

    display: block;

    width: 20px;
    height:20px;

    background-image: url(../../assets/icons/surveyDescriptionIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-65%);

    content: ""
}

.questionCounter{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}

.surveyContent{
    width: 100%;

    padding-top: 35px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;

    background-color: #fff;
}

.question{
    margin-bottom: 12px;
    padding-bottom: 5px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}

.questionCounter{
    padding-left: 12px;
}

.answers{
    display: flex;
    flex-direction: column;
   
    width: 100%;
    margin-bottom: 50px;
}


.answer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    font-size: 15px;

}

.answerText{
    margin-left: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.butttonNext, .butttonPrevious{
    position: relative;

    width: 120px;
    padding-top: 12px;
    padding-bottom: 12px;

    color: #fff;

    font-weight: 700;
    font-size: 14px;
 

    background-color: transparent;
   
    border: none;
    border-radius: 30px;

    cursor: pointer;
}


.butttonPrevious{
    padding-left: 20px;

    background-color:  #cbcbcb;

}
.butttonNext{
    padding-right: 20px;

    background-color:  #007dfd;
}


.butttonPrevious::before{
    position: absolute;
    top: 50%;
   

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;

    transform: rotate(180deg) translateX(150%) translateY(50%);

    content: " →";
}

.butttonNext::after{
    position: absolute;
    top: 50%;
    right: 0px;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;



    transform: translateX(-100%) translateY(-50%);

    content: " →";
}

.butttonNextWithoutArrow{
    
    width: 120px;
    padding-top: 12px;
   
    padding-bottom: 12px;

    color: #fff;

    font-weight: 700;
    font-size: 14px;
 

    background-color: transparent;

    background-color:  #007dfd;
   
    border: none;
    border-radius: 30px;

    cursor: pointer;
}

.afterSubmit {
    width: 100%;
    max-width: var(--content-width);
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;

    color: #fff;
    font-size: 18px;
    text-align: center;

    background-color: #52c589;
}

.surveyProgressBar{
    background-color: #cbcbcb;
}

.surveyProgressLine{
    display: block;

    height:4px;

    background-color: #007dfd;
}

.surveyProgressBarInSurveyForm{
    display: block;
    width: 100%;
    height:4px;

    background-color: #007dfd;

}



input[type="radio" i].answerInput   {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;

    background-color: #535353;
    border: 2px solid white;
    border-radius: 24px;
    visibility: visible;
    cursor: pointer;

    content: "";
}


@media (max-width: 940px) {
    .container{
        max-width: 90vw;
    }
}


@media (max-width: 640px) {
    .container{
        display: block;
        max-width: 100%;
        height: 100%;
        margin: 0;
    }
   

    .surveyContent, .surveyButtons, .surveyTopInSurveyForm, .surveyForm {
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .surveyTopInSurveyForm{
        font-size: 20px;
    }
    .surveyTop, .surveyTopInSurveyForm{
        align-items: center;
        min-height: 62px;
        padding: 20px 25px;
    }

    .surveyDescription{
      
        padding-left: 0;
    }
    .surveyDescription::before{
        display: none;
    }  
}

@media (max-width: 480px){

  
    .butttonPrevious::before, 
    .butttonNext::after{
        display: none;
    }

    .butttonPrevious, 
    .butttonNext{
        width: 90px;
        padding-right: 0;
        padding-left: 0;
    }

    .surveyContent, .surveyButtons {
        padding-right: 15px;
        padding-left: 15px;
    }
    .surveyContent{
        height: auto;
    }
    .surveyTop{
        align-items: center;
        height: 62px;
        padding: 0 15px;
    }
    .surveyButtons{
        padding-top: 20px;
    }
    
    .errorAnswers{
        padding: 4px;
    }
}


