.section {
    padding: 15px 0;

    background-color: #39a8f9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--content-width);
    height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;

    color: #fff;

}



.copy {
    font-weight: 400;
    font-size: 18px;
}
